/runs
/yolo
/yolo_weights
/utils
/models
/data

.cache/
__pycache__/

.git/
.gitlab/
.github/
.gitignore

*.log
*.tmp
*.pid
tmp/

.env
.env.local
*.key
*.pem
.aws/
.ssh/


.vscode/
.DS_Store
Thumbs.db

*.md
!README.md  

build/
dist/
*.exe
*.dll
*.so