MODEL_PATH=/app/yolo_weights/best.pt
CONF_THRESHOLD=0.25
IMG_SIZE=800

# redis
REDIS_URL=redis://localhost:6379/0

# s3
S3_ENDPOINT_URL=http://localhost:9000
S3_ACCESS_KEY=minioadmin
S3_SECRET_KEY=minioadmin
S3_BUCKET_NAME=license-plates

# database
SQLALCHEMY_DATABASE_URL=postgresql://postgres:postgres@localhost:5432/plate_db

# rabbitMQ
BROKER_URL=pyamqp://guest:guest@localhost:5672